name: Generate Language Stats

on:
  schedule:
    - cron: '0 0 * * 0'  # Weekly
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Generate Stats
        uses: jstrieb/github-stats@master
        with:
          username: polymatx
          
      - name: Commit and Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Update stats" || exit 0
          git push
