name: Generate Language Stats
on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Generate Stats
        uses: jstrieb/github-stats@v2.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Update language stats
